.u-section-1 .u-sheet-1 {
  min-height: 824px;
}

.u-section-1 .u-group-1 {
  width: 280px;
  min-height: 823px;
  height: auto;
  margin: 1px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 98px;
  height: auto;
  margin: 30px 30px 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-1 {
  width: 190px;
  height: 105px;
  margin: -4px auto -4px 0;
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 114px;
  height: auto;
  margin: 0 30px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-2 {
  width: 59px;
  height: 59px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px 0 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -54px 46px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 114px;
  height: auto;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  transition-duration: 0.5s;
  margin: 37px auto 0 89px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 59px;
  height: 59px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -57px auto 0 0;
  padding: 3px;
}

.u-section-1 .u-group-5 {
  min-height: 112px;
  height: auto;
  margin-top: -8px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-icon-4 {
  width: 59px;
  height: 59px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 27px auto 0 39px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  transition-duration: 0.5s;
  margin: -49px -14px 0 auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 115px;
  height: auto;
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 0;
}

.u-section-1 .u-icon-5 {
  width: 59px;
  height: 59px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 28px auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -54px 104px 0 auto;
}

.u-section-1 .u-group-7 {
  width: 261px;
  min-height: 170px;
  height: auto;
  margin: -824px 0 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-8 {
  min-height: 78px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 200px;
  min-height: 38px;
  margin: 31px auto 0 27px;
}

.u-section-1 .u-group-9 {
  min-height: 91px;
  margin-top: 1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 auto 0 29px;
}

.u-section-1 .u-icon-6 {
  width: 44px;
  height: 44px;
  margin: -8px auto 0 28px;
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 44px;
  height: 44px;
  margin: -44px 9px 0 auto;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 320px;
  height: 524px;
  margin: 21px -29px 0 auto;
}

.u-section-1 .u-group-10 {
  width: 429px;
  min-height: 823px;
  height: auto;
  margin: -715px auto 1px 316px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 201px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-11 {
  min-height: 410px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-icon-8 {
  width: 34px;
  height: 34px;
  margin: 33px auto 0 156px;
  padding: 0;
}

.u-section-1 .u-icon-9 {
  width: 43px;
  height: 43px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -43px auto 0 13px;
  padding: 9px;
}

.u-section-1 .u-text-6 {
  margin: -29px auto 0 66px;
}

.u-section-1 .u-text-7 {
  margin: 25px 54px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 49px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 100px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: 71px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 20px;
    margin-left: 329px;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -127px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-left: 159px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 0;
    margin-right: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: 181px;
  }

  .u-section-1 .u-group-10 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 439px;
  }

  .u-section-1 .u-group-11 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: 249px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 105px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 109px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 112px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    margin-right: 271px;
  }

  .u-section-1 .u-group-10 {
    margin-left: 411px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-left: 349px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 400px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 371px;
  }

  .u-section-1 .u-group-10 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-2 {
    height: 159px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 0;
    margin-left: 126px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  color: #478ac9 !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  color: #478ac9 !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  color: #478ac9 !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  color: #478ac9 !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  color: #478ac9 !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  color: #478ac9 !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before,
.u-section-1 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-5,
.u-section-1 .u-icon-5:before,
.u-section-1 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  min-height: 1600px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 176px;
}

.u-section-2 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 1.125rem;
}

.u-section-2 .u-icon-1 {
  width: 52px;
  height: 52px;
  margin: -28px auto 0 265px;
  padding: 0;
}

.u-section-2 .u-group-1 {
  min-height: 410px;
  height: auto;
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 34px;
  height: 34px;
  margin: 33px auto 0 156px;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 43px;
  height: 43px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -43px auto 0 13px;
  padding: 9px;
}

.u-section-2 .u-text-2 {
  margin: -29px auto 0 66px;
}

.u-section-2 .u-text-3 {
  margin: 25px 54px 0 22px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 133px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  min-height: 137px;
  height: auto;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-icon-4 {
  width: 44px;
  height: 44px;
  margin: -48px 75px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 44px;
  height: 44px;
  margin: -44px 21px 0 auto;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 574px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 349px;
  height: 572px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-group-3 {
  height: auto;
  min-height: 128px;
  width: 1240px;
  margin: 32px calc(((100% - 1140px) / 2)  + -100px) 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-icon-6 {
  width: 60px;
  height: 60px;
  margin: 58px auto 0 calc(((100% - 1140px) / 2)  + 36px);
  padding: 0;
}

.u-section-2 .u-icon-7 {
  width: 60px;
  height: 60px;
  margin: -60px calc(((100% - 1140px) / 2)  + -20px) 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-8 {
  width: 60px;
  height: 60px;
  margin: -70px auto 0 calc(((100% - 1140px) / 2)  + 338px);
  padding: 3px;
}

.u-section-2 .u-icon-9 {
  width: 60px;
  height: 60px;
  margin: -50px calc(((100% - 1140px) / 2)  + 282px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1480px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 145px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -12px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-2 .u-icon-6 {
    margin-left: calc(((100% - 940px) / 2)  + 42px);
  }

  .u-section-2 .u-icon-7 {
    margin-top: -263px;
    margin-right: calc(((100% - 940px) / 2)  + 175px);
  }

  .u-section-2 .u-icon-8 {
    margin-top: -83px;
    margin-left: calc(((100% - 940px) / 2)  + 276px);
  }

  .u-section-2 .u-icon-9 {
    margin-top: 109px;
    margin-right: calc(((100% - 940px) / 2)  + 350px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1394px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 199px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-group-3 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-icon-6 {
    margin-left: calc(((100% - 720px) / 2)  + 42px);
  }

  .u-section-2 .u-icon-7 {
    margin-right: calc(((100% - 720px) / 2)  + 175px);
  }

  .u-section-2 .u-icon-8 {
    margin-left: calc(((100% - 720px) / 2)  + 211px);
  }

  .u-section-2 .u-icon-9 {
    margin-right: calc(((100% - 720px) / 2)  + 268px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1600px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 157px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-icon-6 {
    margin-left: calc(((100% - 540px) / 2)  + 42px);
  }

  .u-section-2 .u-icon-7 {
    margin-right: calc(((100% - 540px) / 2)  + 175px);
  }

  .u-section-2 .u-icon-8 {
    margin-left: calc(((100% - 540px) / 2)  + 158px);
  }

  .u-section-2 .u-icon-9 {
    margin-right: calc(((100% - 540px) / 2)  + 201px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1409px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 29px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 39px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    width: 50px;
    height: 50px;
    margin-top: -43px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 277px;
    margin-top: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 197px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 1px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: 96px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 576px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 0 19px;
  }

  .u-section-2 .u-image-1 {
    width: 336px;
    height: 558px;
    margin-top: 17px;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    min-height: 110px;
    width: 408px;
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-icon-6 {
    width: 50px;
    height: 50px;
    margin-top: -80px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-icon-7 {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-icon-8 {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-right: calc(((100% - 340px) / 2)  + 96px);
    margin-left: auto;
  }

  .u-section-2 .u-icon-9 {
    width: 50px;
    height: 50px;
    margin: -50px auto 34px calc(((100% - 340px) / 2)  + 90px);
  }
}